/* Home.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.home-page {
  background-color: #e6f7ff; /* Light blue background */
  min-height: 100vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.system-name {
  font-size: 20px;
  font-weight: bold;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  align-items: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-left: 10px; /* Adjust margin as needed */
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-right .btn {
  margin-left: 10px; /* Adjust margin as needed */
  padding: 5px 15px; /* Adjust padding as needed */
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-right .btn:hover {
  background-color: #0056b3;
}

.home-container {
  text-align: center;
  padding: 20px;
}

.home-title {
  font-size: 36px;
  margin-top: 10px;
}

.home-description {
  font-size: 15px;
  margin-top: 5px;
}

.carousel .legend {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 10px;
  font-size: 16px;
  bottom: 20px;
}

.carousel img {
  width: 50%; /* Ensure the image takes full width */
  height: auto; /* Maintain aspect ratio */
  max-height: 300px; /* Optional: Limit the max height */
  object-fit: cover; /* Cover the container without distortion */
}

.buttons .btn {
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .btn:hover {
  background-color: #0056b3;
}
